{% extends 'base1.html' %}
{% block content %}
<table class = "table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">PK</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.username}}</td>
            <td>{{item.password}}</td>
            <td>{{item.status_account}}</td>
           
            <td><a href="{% url 'edit_account' id=item.id %}"><button class="btn btn-warning">Edit</button></a></td>
            <td><button class="btn btn-danger">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}