
    
{% extends 'base2.html' %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% block content %}
  <form method="post" novalidate>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags == "error" %} class="alert alert-danger"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
    {% csrf_token %}
    <center><h1>เพิ่มข้อมูลเครื่องดื่ม</h1></center>
    <center>
        ชื่อเครื่องดื่ม
      {{ form.drinkname }}
    </center>
    
    <center>
        ราคา
      {{ form.price}}
    </center>
    <br>
    <center><button type="submit" class="btn btn-primary btn-md col-5"> บันทึก</button></center>
  </form>

{% endblock %}


