
    
{% extends 'base_login.html' %}

{% load crispy_forms_tags %}
{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    <br>
    <br>
<center>{{form}}</center>
    <br>
    <center><button type="submit" class="btn btn-success btn-md col-2" > ลงชื่อเข้าใช้</button></center>
  </form>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

